services:
   expo: 
      container_name: expo-container
      build: ./Frontend-Expo/
      ports:
         - 19000:19000 
         - 19001:19001
         - 19002:19002
      volumes:
         - ./Frontend-Expo/:/usr/app # Link host directory to container
         - nodemodules:/usr/app/node_modules
      env_file: .env
   
volumes: 
  nodemodules: {}