services:
   expo: 
      container_name: expo-container
      build: ./Frontend-Expo/
      ports:
         - 19000:19000 
         - 19001:19001
         - 19002:19002
      volumes:
         - ./Frontend-Expo:/usr/app # Link host directory to container
         - /usr/app/node_modules
      env_file: .env
      environment:
         - WATCHMAN_DISABLE=true
         - RCT_METRO_PORT=8081
      stdin_open: true
      tty: true

   postgres:
      image: postgres:16
      container_name: postgres_db
      restart: unless-stopped
      environment:
         POSTGRES_DB: buzz_brain
         POSTGRES_USER: postgres
         POSTGRES_PASSWORD: password
      ports:
         - "5432:5432"
      volumes:
         - postgres_data:/var/lib/postgresql/data
   
   backend:
      container_name: backend-container
      build: ./backend-nest/
      env_file: .env
      ports:
         - 3000:3000
      volumes:
         - ./backend-nest/:/usr/app 
         - /usr/app/node_modules
      environment:
         - DATABASE_URL=${DATABASE_URL}
         - PORT=${PORT}
      depends_on:
         - postgres
      command: >
         sh -c "npx prisma generate --config prisma.config.ts &&
               npx prisma migrate deploy --config prisma.config.ts &&
               npm run dev"
   
volumes: 
   nodemodules: {}
   postgres_data: {}